.todo-date-details{
    font-family: mons;
    margin-right: 5px;
    justify-content: center;
}

.date-and-time-details-container{
    font-family: mons;
    margin-right: 5px;
    display: flex;
    justify-content: center;
}

.todo-title-details{
    font-family: mons;
    font-weight: bold;
    text-align: center;
}

.todo-content-details{
    font-family: mons;
    text-align: center;
}
